body {
    background-image: linear-gradient(#ff00005c 2px, transparent 1px);
    background-size: 100% 2cm;
    margin: 0px;
}


#contact-info
{
    font-family: "Lucida Sans Typewriter", "Times New Roman", serif;
    background-color: #b20000;
    margin-top: 0px;
    text-align: center;
    display: grid;
    justify-content: center;
    overflow-y:hidden;

    h1{
        margin: 0px;
        padding-top: 40px;
        font-size: 70px;
        color: #180101;
        background-color: #FF2828;
        box-shadow: 0 50px 110px 140px #FF2626;
        width: fit-content;
        letter-spacing: 0.444em;
        font-weight: 400;
        word-wrap: anywhere;
    }

    a, p{
        font-family: sans-serif;
        color: black;
        margin: 6px;
        text-decoration: none;
    }

    a {
        font-size: 24px;
        background-color: #FF2828;
    }

    a:hover{
        text-decoration: underline solid 1px black;
    }

    
}