body {
    margin: 0px;
}


#contact-info
{
    font-family: "Lucida Sans Typewriter", "Times New Roman", serif;
    margin-top: 0px;
    text-align: center;
    display: grid;
    justify-content: center;
    overflow-y:hidden;

    h1{
        margin: 0px;
        padding-top: 40px;
        font-size: 70px;
        color: #180101;
        width: fit-content;
        letter-spacing: 0.444em;
        font-weight: 400;
        word-wrap: anywhere;
    }

    a, p{
        font-family: sans-serif;
        color: black;
        margin: 6px;
        text-decoration: none;
    }

    a {
        font-size: 24px;
    }

    a:hover{
        text-decoration: underline solid 1px black;
    }

    
}