#pages{
    width: fit-content;
    margin: auto;

    li{
        margin: 15px;
        font-size: 30px;
        &.big{
            font-size: 50px;
            margin: 50px;
        }
    }
}

main {
    padding: 1.2rem 0;
}

.centered
{
    margin: auto;
    width: fit-content;
    div{
        overflow: auto;
    }
}

.rss-feed {
    display: none;
}

header p
{
    font-family: sans-serif;
    font-size: 1.2rem;
    padding: 10px;
    text-align: left;
    max-width: 40em;
    margin: auto;
}