#pages{
    min-width: fit-content;

    li{
        text-align: center;
        margin: 15px;
        font-size: 30px;
        &.big{
            font-size: 50px;
            margin: 50px;
        }
    }
}

#webrings
{
    text-align: center;
    padding: 10px;
    margin-top: 100px;

    h2{
        font-size: 24px;
    }
    div{
        font-size: 19px;
        padding: 10px;
        padding-bottom: 50px;
        overflow: auto;
    }
}

.rss-feed {
    display: none;
}

#music 
{
    position: sticky;
    bottom: 0;
    background-color: white;
    padding-left: 20px;

    audio
    {
        height: 20px;
        bottom: -3px;
        position: relative;
        margin-right: 3px;
    }
}

header p
{
    font-family: sans-serif;
    font-size: 1.2rem;
    padding: 10px;
    text-align: left;
    max-width: 40em;
    margin: auto;
}