body {
    margin: 0px;
}


header
{
    margin-top: 0px;
    text-align: center;
    overflow-y:hidden;
    text-align: center;

    h1{
        margin: auto;
        padding-top: 0.4em;
        font-size: 4rem;
        color: var(--text-color);
        width: fit-content;
        letter-spacing: 0.444em;
        font-weight: 400;
        word-wrap: anywhere;

        & a {
            text-decoration: none;
            &:visited {   
                color: var(--text-color);
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}