body {
    background-image: linear-gradient(#ff00005c 2px, transparent 1px);
    background-size: 100% 2cm;
    margin: 0px;
}

#bio p{
    text-align: center;
}

.hide
{
    display: none;
}


.selector-label{
    border-radius: 3px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.727);
    color: black;
    border: 1px black solid;
    padding: 5px;
    font-size: 14px;
    font-family: sans-serif;
    cursor: pointer;
    
    & input {
        display: none;
    }
    
}

label:has(> input:checked)
{
    background-color: black;
    color: white;
}

#skills
{
    display: grid;
    margin: auto;
    max-width: 80%;
}

#things
{
    display: grid;
    grid-template-columns: 100%;
    justify-items: stretch;
    align-content: start;
    min-height: 100vh;

    & .thing
    {
        background-image: linear-gradient(#ccc 1px, transparent 1px);
        background-size: 100% 30px;
        margin-top: 10px;
        border: solid black .1px;
        background-color: rgb(255, 244, 223);
        height: fit-content;
        *{
            margin: 10px;
        }
        a{
            margin-top: 0px;
        }
        h2{
            margin-bottom: 0px;
        }
        p{
            margin-top: 10px;
            font-family: cursive
        }
    }

}

#buttons{
    & img {
        width: 176px;
        image-rendering: pixelated;
    }
}

#pages{
    display: grid;
    a{
        text-align: center;
        margin: 15px;
        font-size: 30px;
        &.big{
            font-size: 50px;
            margin: 50px;
        }
    }
}