body {
    margin: 0px;
}


header
{
    margin-top: 0px;
    text-align: center;
    overflow-y:hidden;
    text-align: center;

    h1{
        margin: auto;
        padding-top: 40px;
        font-size: 70px;
        color: #180101;
        width: fit-content;
        letter-spacing: 0.444em;
        font-weight: 400;
        word-wrap: anywhere;

        & a {
            text-decoration: none;
            &:visited {   
                color: black;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}