#pages{
    display: grid;

    a{
        text-align: center;
        margin: 15px;
        font-size: 30px;
        &.big{
            font-size: 50px;
            margin: 50px;
        }
    }
}

#webrings
{
    background-color: #FF2828;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    h2{
        font-size: 24px;
    }
    div{
        font-size: 19px;
        padding: 10px;
        padding-bottom: 50px;
        overflow: auto;
    }
    a:visited
    {
        color: #390c63;
    }
}

.rss-feed {
    display: none;
}