#pages{
    min-width: fit-content;

    li{
        text-align: center;
        margin: 15px;
        font-size: 30px;
        list-style-type: none;
        &.big{
            font-size: 50px;
            margin: 50px;
        }
    }
}

#webrings
{
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    ul {
        list-style-type: none;
    }

    h2{
        font-size: 24px;
    }
    div{
        font-size: 19px;
        padding: 10px;
        padding-bottom: 50px;
        overflow: auto;
    }
}

.rss-feed {
    display: none;
}

#music 
{
    position: sticky;
    bottom: 0;
    background-color: white;
    padding-left: 20px;

    audio
    {
        height: 20px;
        bottom: -3px;
        position: relative;
        margin-right: 3px;
    }
}