h1
{
    text-align: center;
    margin-bottom: 0px;
}

p
{
    margin: 0px;
    margin-top: 1.2em;
    text-align: center;
}

header
{
    margin: 15em 0;
}

.publish-date
{
    font-style: italic;
}

main
{
    text-align: left;
    margin-bottom: 16rem;

    & p, li
    {
        line-height: 2em;
        font-family: sans-serif;
        font-size: 1.1rem;
        text-align: left;
        color: var(--text-color);

        @media (max-width: 30rem) {
            font-size:1rem;
        }
        
    }

    p, h1,h2, h3, h4, h5, ol, ul
    {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        max-width: 36rem;
    }

    h2
    {
        margin-top: 5em;
    }
}

.footnotes p {
    font-size: 0.9rem;
  }

footer {
    margin: auto;
    width: fit-content;
}

img
{
    min-width: max(min(280px, 100%), 200px);
    width: 80%;
}

.codeblock
{
    background-color: #f2f2f2;
    border: black 1px solid;
    padding: 0.3em;
    max-width: 60rem;
    margin: auto;

    & pre
    {
        font-size: 1.2em;
        overflow: auto;
        margin-top: 0px;
    }

    & button
    {
        width: 100%;
    }
}

