body
{
    font-family: "Lucida Sans Typewriter", "Times New Roman", serif;
}


*{
    box-sizing: border-box;
}

h1
{
    text-align: center;
    margin-bottom: 0px;
}

#publish-date
{
    text-align: center;
    margin-top: 0px;
    color: gray;
}

#post-content
{
    margin: auto;
    width: 80%;
    max-width: 35rem;

    & p, li
    {
        line-height: 2rem;
        font-family: sans-serif;
        font-size: 1.1rem;

        @media (max-width: 30rem) {
            font-size:1rem;
        }
        
    }
}

a {
    text-decoration: underline dotted;
    &:hover {
        text-decoration: underline;
    }
}

