body
{
    text-align: center;
}


*{
    box-sizing: border-box;
}

h1
{
    margin-bottom: 0px;
}

#publish-date
{
    margin-top: 0px;
    color: gray;
}

main
{
    margin: auto;
    width: 80%;
    max-width: 35rem;
    text-align: left;

    & p, li
    {
        line-height: 2rem;
        font-family: sans-serif;
        font-size: 1.1rem;

        @media (max-width: 30rem) {
            font-size:1rem;
        }
        
    }
}

a {
    text-decoration: underline dotted;
    &:hover {
        text-decoration: underline;
    }
}

#other-posts {
    margin-top: 300px;

    & a {
        display: block;
    }
}

img
{
    min-width: max(min(280px, 100%), 200px);
    width: 30%;
}