
h1
{
    text-align: center;
    margin-bottom: 0px;
    & .subtitle
    {
        font-weight: normal;
        font-size: 0.6em;
        display: block;
    }
}

p
{
    margin: 0px;
    margin-top: 1.2em;
    text-align: center;
}

header
{
    margin: 15em 0;
}

.publish-date
{
    font-style: italic;
}

main
{
    text-align: left;
    margin-bottom: 16rem;

    & > p:first-child
    {
        margin-bottom: 3em;
        &::first-letter
        {
            float: left;
            color: var(--background-color);
            margin: 0.2em 0.2em 0 0;
            font-size: 2em;
            background-color: var(--highlight-dark);
            padding: 0.5em;
            font-weight: bolder;
        }

    }

    & p, li, aside
    {
        line-height: 2em;
        font-family: sans-serif;
        text-align: left;
    }

    p, h1, h2, h3, h4, h5, ol, ul
    {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 32rem;
    }

    h2
    {
        margin-top: 5em;
    }
}

.footnotes p {
    font-size: 0.9rem;
  }

footer {
    margin: auto;
    width: fit-content;
}

a:has(img)
{
    width: min(30em, 100%);
    margin: auto;
    display: block;

    &:hover {
        text-decoration: none;
        background-color: transparent;
    }

    img
    {
        width: 100%;
    }
}

.codeblock
{
    max-width: 60rem;
    margin: auto;
}
