h1
{
    text-align: center;
    margin-bottom: 0px;
}

p
{
    margin: 0px;
    margin-top: 1.2em;
    text-align: center;
}

header
{
    margin-bottom: 1rem;
}

.publish-date
{
    font-style: italic;
}

main
{
    margin: auto;
    width: 80%;
    max-width: 36rem;
    text-align: left;
    margin-bottom: 16rem;
    @media (min-width: 45rem) {
        border-left: solid grey 0.1rem;
        border-right: solid grey 0.1rem;
        border-top: none;
        border-bottom: none;
        padding: 0.2rem 1rem;
    
    }

    & p, li
    {
        line-height: 2em;
        font-family: sans-serif;
        font-size: 1.1rem;
        text-align: left;
        color: var(--text-color);

        @media (max-width: 30rem) {
            font-size:1rem;
        }
        
    }
}

.footnotes p {
    font-size: 0.9rem;
  }

footer {
    margin: auto;
    width: fit-content;
}

img
{
    min-width: max(min(280px, 100%), 200px);
    width: 80%;
}

.codeblock
{
    background-color: #f2f2f2;
    border: black 1px solid;
    padding: 0.3em;

    & pre
    {
        font-size: 1.2em;
        overflow: auto;
        margin-top: 0px;
    }

    & button
    {
        width: 100%;
    }
}

