#bio p{
    margin: auto;
    width: fit-content;
    padding: 30px;
}

.selector-label{
    border-radius: 3px;
    margin: 5px;
    border: 1px black solid;
    padding: 5px;
    font-family: sans-serif;
    cursor: pointer;
    display:inline-block;
    box-shadow: gray 0.1px 0.1px .5px .5px;

    &:hover {
        box-shadow: none;
    }
    
    .selector {
        display: none;
    }
    
}

label:has(> input:checked)
{
    background-color: var(--highlight-background-light);
    box-shadow: none;
}

#skills
{
    display: grid;
    margin: auto;
    max-width: 80%;
}

#things
{
    min-height: 100vh;

    & .thing
    {
        margin-top: 10px;
        border: solid black .1px;
        *{
            margin: 10px;
        }
        a{
            margin-top: 0px;
        }
        h2{
            margin-bottom: 0px;
        }
        p{
            margin-top: 10px;
            font-family: "Lucida Sans Typewriter", "Times New Roman", serif;
        }

        &:focus-within, &:hover
        {
            background-color: var(--highlight-background-light);
        }
    }

}

#buttons{
    margin-bottom: 50px;
    margin-top: 100px;

    & a {
        text-decoration: none;
    }

    & img {
        image-rendering: pixelated;
        transition: transform .03s;
        &:hover
        {
            transform: scale(1.5);
        }
    }
}