#bio p{
    margin: auto;
    width: fit-content;
    padding: 30px;
}

.selector-label{
    border-radius: 3px;
    margin: 5px;
    border: 1px black solid;
    padding: 5px;
    font-family: sans-serif;
    cursor: pointer;
    display:inline-block;
    box-shadow: gray 0.1px 0.1px .5px .5px;

    &:hover {
        box-shadow: none;
    }
    
    .selector {
        display: none;
    }
    
}

label:has(> input:checked)
{
    background-color: var(--background-color-highlight);
    box-shadow: none;
}

#skills
{
    display: grid;
    margin: auto;
    max-width: 80%;
}

#things
{
    min-height: 100vh;

    & .thing
    {
        margin-top: 10px;
        border: solid var(--text-color) .1px;
        font-size: 1.4rem;
        p {
            margin: 10px;
        }

        .thing-skills {
            color: var(--text-color);
            font-size: small;
        }

        &:focus-within, &:hover
        {
            background-color: var(--background-color-highlight);
        }
    }

}

#buttons{
    margin-bottom: 50px;
    margin-top: 100px;

    & a {
        text-decoration: none;
    }

    & img {
        image-rendering: pixelated;
        transition: transform .03s;
        &:hover
        {
            transform: scale(1.5);
        }
    }
}