@font-face {
	font-family: 'Red Hat Mono';
	src: 
        url('/assets/fonts/red-hat-mono/RedHatMono-Regular.woff2') format('woff2');;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Red Hat Mono';
	src: 
        url('/assets/fonts/red-hat-mono/RedHatMono-Medium.woff2') format('woff2');;
	font-weight: bold;
	font-style: normal;
}

/*link to font: https://github.com/jeremymickel/RedHatFonts/tree/master/fonts/mono  Thanks Jeremy!*/


:root
{
    --highlight-flare: #ff2828;
    --highlight-background-light: #ff6d6d;
}

*{
    box-sizing: border-box;
}


body{
    font-family: "Red Hat Mono", "Lucida Sans Typewriter", "Times New Roman", serif;

a{
    color: black;
}
}

h1
{
    text-wrap: balance;
}

a:link
{
    color: var(--text-main);
}

a:visited
{
    text-decoration-color: var(--highlight-flare);
    color: #5902dd;
}

input
{
    outline: none;
    border:none;
    background-image:none;
    background-color:white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;  
}

hr
{
    border-style: solid;
}

.highlight-flair
{
    border: 0.6rem solid #FF2828;
}

table
{
    border-collapse: collapse;

    & td, th
    {
        border: 1px solid black;
        padding: 0.4rem;
    }
}
