@font-face {
	font-family: 'Red Hat Mono';
	src: 
        url('/assets/fonts/red-hat-mono/RedHatMono-Regular.woff2') format('woff2');;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Red Hat Mono';
	src: 
        url('/assets/fonts/red-hat-mono/RedHatMono-Medium.woff2') format('woff2');;
	font-weight: bold;
	font-style: normal;
}

/*link to font: https://github.com/jeremymickel/RedHatFonts/tree/master/fonts/mono  Thanks Jeremy!*/


:root
{
    --highlight-flare: #ff2828;
    --highlight-secondary: #fdadad;
    --highlight-dark: #db0000;
    --text-color: black;
    --background-color: white;
    --background-color-highlight: #f7d7d7;
    font-size: 18px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: rgb(231, 228, 228);
        --background-color: rgb(30, 28, 28);
        --highlight-secondary: #841a1a;
        --background-color-highlight: #4f0909;
    }
}

*{
    box-sizing: border-box;

    &::selection {
        background-color: var(--highlight-dark);
        color: white;
    }
}

body{
    font-family: "Red Hat Mono", monospace;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1
{
    text-wrap: balance;
}

a {
    color: var(--text-color);
    text-decoration: underline 0.2em var(--highlight-flare);
    text-decoration-skip-ink: none;

    &:hover {
        background-color: var(--highlight-dark);
        color: #fff;
        text-decoration-color: var(--highlight-dark);
        &:visited {
            color: var(--text-color);
            background-color: var(--highlight-secondary);
            text-decoration-color: var(--highlight-secondary);
        }
    }

    &:visited:not(:hover) {
        text-decoration-color: var(--highlight-secondary);
    }

    &::selection
    {
        background: var(--highlight-flare);
        color: white;
    }
}

p, li, label, td, h1, h2, h3, h4, h5
{
    color: var(--text-color);
    &::selection {
        background-color: var(--highlight-dark);
        color: white;
    }
}

input
{
    outline: none;
    border:none;
    background-image:none;
    background-color: var(--background-color);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;  
}

hr
{
    border-style: solid;
}

.highlight-flair
{
    border: 0.6rem solid var(--highlight-flare);
}

.message {
    background-color: var(--background-color-highlight);
    padding: 1em;
    max-width: 40em;
    margin: 2em auto;
    
    & p::before {
    content: "! ";
    font-size: 3em;
    vertical-align: middle;
    }
}

table
{
    border-collapse: collapse;

    & td, th
    {
        border: 1px solid var(--text-color);
        padding: 0.4rem;
    }

    & thead
    {
        background-color: var(--background-color-highlight);
        font-weight: bold;
    }
}

strong
{
    text-decoration: double underline;
}

footer small {
    border-top: 1px dashed var(--text-color);
    display: inline-block;
    padding: 1em;
    font-size: small;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 1em;
  }