@font-face {
	font-family: 'Red Hat Mono';
	src: 
        url('/assets/fonts/red-hat-mono/RedHatMono-Regular.woff2') format('woff2');;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Red Hat Mono';
	src: 
        url('/assets/fonts/red-hat-mono/RedHatMono-Medium.woff2') format('woff2');;
	font-weight: bold;
	font-style: normal;
}

/*link to font: https://github.com/jeremymickel/RedHatFonts/tree/master/fonts/mono  Thanks Jeremy!*/


:root
{
    --highlight-flare: #ff2828;
    --highlight-secondary: #fdadad;
    --highlight-dark: #db0000;
    --text-color: black;
    --text-color-secondary: #565656;
    --background-color: white;
    --background-color-highlight: #f7d7d7;
    font-size: 18px;

    @media (prefers-color-scheme: dark) {
        --text-color: rgb(231, 228, 228);
	--text-color-secondary: #afafaf;
        --background-color: rgb(30, 28, 28);
        --highlight-secondary: #841a1a;
        --background-color-highlight: #4f0909;
    }
}

.purple
{
    --highlight-flare: #b228ff;
    --highlight-secondary: #e0adfd;
    --highlight-dark: #b500db;
    --text-color: black;
    --text-color-secondary: #565656;
    --background-color: white;
    --background-color-highlight: #e7d7f7;
    
    @media (prefers-color-scheme: dark) {
	--text-color: #e5e4e7;
	--text-color-secondary: #afafaf;
	--background-color: #1c1c1e;
	--highlight-secondary: #4f1a84;
	--background-color-highlight: #1f094f;
    }
}

.orange
{
    --highlight-flare: #ff8135;
    --highlight-secondary: #fdcfad;
    --highlight-dark: #e38001;
    --text-color: black;
    --text-color-secondary: #565656;
    --background-color: white;
    --background-color-highlight: #f7e6d7;
    
    @media (prefers-color-scheme: dark) {
	--text-color: #e7e5e4;
	--text-color-secondary: #afafaf;
	--background-color: #1e1d1c;
	--highlight-secondary: #84471a;
	--background-color-highlight: #4f2d09;
    }
}

.yellow
{
    --highlight-flare: #fff228;
    --highlight-secondary: #ffea75;
    --highlight-dark: #665f00;
    --text-color: black;
    --text-color-secondary: #565656;
    --background-color: #f8f4df;
    --background-color-highlight: #f7f7d7;
    
    @media (prefers-color-scheme: dark) {
	--text-color: #e7e7e4;
	--text-color-secondary: #afafaf;
	--background-color: #1f1700;
	--highlight-secondary: #84731a;
	--background-color-highlight: #4f4109;
    }
}

.green
{
    --highlight-flare: #007b2a;
    --highlight-secondary: #88c588;
    --highlight-dark: #026c1d;
    --text-color: black;
    --text-color-secondary: #565656;
    --background-color: #f8fff7;
    --background-color-highlight: #daf7d7;
    
    @media (prefers-color-scheme: dark) {
        --text-color: #e4e7e4;
	--text-color-secondary: #afafaf;
	--background-color: #1d1e1c;
	--highlight-secondary: #1a8426;
	--background-color-highlight: #0e4f09;
    }
    
}


.blue
{
    --highlight-flare: #2886ff;
    --highlight-secondary: #add4fd;
    --highlight-dark: #006adb;
    --text-color: black;
    --text-color-secondary: #686868;
    --background-color: white;
    --background-color-highlight: #d7ebf7;

    @media (prefers-color-scheme: dark) {
	--text-color: #e4e5e7;
	--text-color-secondary: #afafaf;
	--background-color: #1c1d1e;
	--highlight-secondary: #1a5784;
	--background-color-highlight: #09284f;
    }
}

.darkBlue
{
    --highlight-flare: #285eff;
    --highlight-secondary: #adbdfd;
    --highlight-dark: #0018db;
    --text-color: black;
    --text-color-secondary: #565656;
    --background-color: white;
    --background-color-highlight: #d7d9f7;
    @media (prefers-color-scheme: dark) {
	--text-color: #e4e4e7;
	--text-color-secondary: #afafaf;
	--background-color: #1c1c1e;
	--highlight-secondary: #1a1c84;
	--background-color-highlight: #09114f;
    }
}

*{
    box-sizing: border-box;

    &::selection {
        background-color: var(--highlight-dark);
        color: white;
    }
}

body{
    font-family: "Red Hat Mono", monospace;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1
{
    text-wrap: balance;
}

a {
    color: var(--text-color);
    text-decoration: underline 0.2em var(--highlight-flare);
    text-decoration-skip-ink: none;

    &:hover {
        background-color: var(--highlight-dark);
        color: #fff;
        text-decoration-color: var(--highlight-dark);
        &:visited {
            color: var(--text-color);
            background-color: var(--highlight-secondary);
            text-decoration-color: var(--highlight-secondary);
        }
    }

    &:visited:not(:hover) {
        text-decoration-color: var(--highlight-secondary);
    }

    &::selection
    {
        background: var(--highlight-flare);
        color: white;
    }
}

aside {
  color: var(--text-color-secondary);
  border-bottom: solid;
  padding: 0.1em 1em 0.1em 1em;
  border-top: solid;
  max-width: 30em;
  margin: 2em auto 2em auto;
}


p, li, label, td, h1, h2, h3, h4, h5, aside
{
    &::selection {
        background-color: var(--highlight-dark);
        color: white;
    }
}


input
{
    outline: none;
    border:none;
    background-image:none;
    background-color: var(--background-color);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;  
}

hr
{
    border-style: solid;
    width: 5em;
    margin: 4em auto;
}

.highlight-flair
{
    border: 0.6rem solid var(--highlight-flare);
}

.message {
    background-color: var(--background-color-highlight);
    padding: 1em;
    max-width: 40em;
    margin: 2em auto;
    
    & p::before {
	content: "! ";
	font-size: 3em;
	vertical-align: middle;
	float: left;
	margin-right: .2em;
    }
}

table
{
    border-collapse: collapse;

    & td, th
    {
        border: 1px solid var(--text-color);
        padding: 0.4rem;
    }

    & thead
    {
        background-color: var(--background-color-highlight);
        font-weight: bold;
    }
}

.codeblock
{
    background-color: #f2f2f2;
    border: black 1px solid;
    padding: 0.3em;
    color: black;
    width: max-content;

    & pre
    {
        font-size: 1.2em;
        overflow: auto;
        margin-top: 0px;
    }

    & button
    {
        width: 100%;
    }
}


strong
{
    text-decoration: double underline;
}

footer small {
    border-top: 1px dashed var(--text-color);
    display: inline-block;
    padding: 1em;
    font-size: small;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 1em;
  }
