@font-face {
	font-family: 'Red Hat Mono';
	src: 
        url('/assets/fonts/red-hat-mono/RedHatMono-Regular.woff2') format('woff2');;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Red Hat Mono';
	src: 
        url('/assets/fonts/red-hat-mono/RedHatMono-Medium.woff2') format('woff2');;
	font-weight: bold;
	font-style: normal;
}

:root
{
    --highlight-flare: #ff2828;
    --highlight-background-light: #ff4f4f;
}

*{
    box-sizing: border-box;
}


body{
    font-family: "Red Hat Mono", "Lucida Sans Typewriter", "Times New Roman", serif;
    scroll-behavior: smooth;

a{
    color: black;
}
}

a:link
{
    color: var(--text-main);
}

a:visited
{
    color: #5902dd;
}

input
{
    outline: none;
    border:none;
    background-image:none;
    background-color:white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;  
}

hr
{
    border-style: solid;
}

.highlight-flair
{
    border: 10px solid #FF2828;
}
