---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-UK" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="post by Tom Brandis - {{ page.title }}">
    <meta name="keywords" content="{{page.tags | join: ", " | replace: "_", " "}}">

    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/reset.css" | relative_url }}">
    <link rel="stylesheet" href="/assets/css/posts.css"">
    {% if page.code %}
    <script defer src="/assets/js/copy_code.js"></script>
    {%endif%}
  </head>
  <body>
    {% if page.tags contains 'rant'%}
    <style>
      /*this is here because this post is a rant. Don't listen to me when I rant*/
      body
      {
        background-color: var(--background-color-highlight);
      }

      #publish-date
      {
        color: black;
      }
    </style>
    {%endif%}
    <header>
    <h1>{{page.title}}{% if page.subtitle %}<span class="subtitle"> or {{page.subtitle}}</span>{%endif%}</h1>
    <p class="publish-date">
    published: {{page.date | date: "%-d %B %Y" }}
    </p>
    {% if page.edited_date != nil and page.edited_date != "" %}
    <p class="publish-date">last edited: {{page.edited_date | date: "%-d %B %Y" }}</p>
    {%endif%}
    </header>
    <main id="post-content">
    {{ content }}
    </main>

    <footer>

    <p>Written by <a href="https://tombrandis.uk">Tom Brandis</a></p>

    {% for post in site.posts %}
      {% if post.previous_in_series == page.title %}
        <h2>next post in series</h2>
        <p><a href="{{post.url}}">{{post.title}}</a>{% if  post.favourite %}<span class="star">★<span class="small">favourite</span></span>{%endif%}</p>
      {% endif %}
    {%endfor%}

    {% if page.previous_in_series != nil %}
      {% for post in site.posts %}
        {% if page.previous_in_series == post.title %}
          <h2>previous post in series</h2>
          <p><a href="{{post.url}}">{{post.title}}</a>{% if  post.favourite %}<span class="star">★<span class="small">favourite</span></span>{%endif%}</p>
        {% endif %}
      {%endfor%}
    {%endif%}

    {% assign has_heading = false %}
    {% for post in site.posts %}
      {% for tag in page.tags %}

        {% if post.tags contains tag and post.title!=page.title and post.previous_in_series!=page.title and page.previous_in_series!=post.title %}
          {%  if has_heading != true %}
            <h2>related posts</h2><ul>
            {% assign has_heading = true %}
          {%endif%}
          <li><a href="{{post.url}}">{{post.title}}</a>{% if  post.favourite %}<span class="star">★<span class="small">favourite</span></span>{%endif%}</li>
          {%break%}
        {%endif%}
      
      {%endfor%}
    {%endfor%}
    {% if has_heading %}
    </ul>
    {%endif%}

    {% if page.replies %}
    <h2>replies</h2>
    <ul>
	{% for reply in page.replies  %}
	{% assign reply_array = reply | split: "|" %}
	<li><a href="{{reply_array[1]}}">{{reply_array[0]}}</a></li>
	{%endfor%}
    </ul>
    {%endif%}

    <h2>reply</h2>
    <ul>
      <li><a href="mailto:tom@tombrandis.uk?subject=Reply to: {{page.title}}">mail me</a></li>
      <li><a href="https://mastodonapp.uk/@tombrandis">fediverse ⁂</a></li>
    </ul>

    <h2>view source</h2>
    <ul><li><a href="https://github.com/TomJB1/my-website-jekyll/blob/main/_posts/published/{{page.name}}?plain=1">github</a></li></ul>

    </footer>
  </body>
</html>
