<!doctype html>
<html>
    <head>
	<title>{{page.title}} - HTML Handbook - Tom Brandis</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/assets/css/reset.css">
	<script defer src="/assets/js/copy_code.js"></script>
    </head>
    <body class="blue">
	<h1>{{page.title}} <span class="subtitle">({{page.name}})</span></h1>
	<main>
	    {{content}}
	</main>
	<p><a href=".">back to index</a></p>
	<h2>External links</h2>
	<ul>
	    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/{{page.title}}">MDN Docs for {{page.title}}</a></li>
	    <li><a href="{{page.w3_link}}">W3C HTML5 standard for {{page.title}}</a></li>
	</ul>
    </body>
</html>
